<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    
</head>

<body>
    <h1>Registration</h1>
    <hr>
    <br>
    
        <!--Registration fields -->
    <form method="POST" action='/add'>
        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="name"><br>
        <label for="fathername">Father's Name</label><br>
        <input type="text" name="fathername" placeholder="father's name"><br>
        <label for="dob">Date Of Birth</label><br>
        <input type="date" name="dob" placeholder="Date of Birth"><br>
        <label for="camp">Camp Name</label><br>
        <input type="text" name="camp" placeholder="camp name"><br><br>
        <input type="submit" id="submit" value="Submit">
        <a href="manage" type="submit">Manage</a>
    </form>
    <!-- scripts  -->

    <script>
       
    </script>
</body>

</html>